body{
    background-color: #59a0fd;
}

.container{
    width: 50%;
    margin: 0 auto;
}

h1, footer{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

#secao-informacoes{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.4em;
    box-shadow: 2px 2px 10px;
}

#secao-informacoes form #idade{
    height: 25px;
}

input{
    margin-top: 15px;
}

img{
    border-radius: 100%;
    width: 300px;
}